#filter-container {
    text-align: center;
    margin-bottom: 20px;
    user-select: none;
}

#filter-container button {
    margin: 6px 6px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: #ffffffe0;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'font-title';
    font-size: 16px;
    --btn-color: #656a75;
}

#filter-container button:hover {
    padding: 8px 16px;
    transition: all 0.3s ease-in-out;
}

#filter-container button.active {
    background-color: var(--btn-color);
    color: #fefefe;
    border: none;
    padding: 8px 16px;
    box-shadow: 0 8px 12px -3px var(--btn-color);
    transition: all 0.3s ease-in-out;
}

#filter-container button[data-prod="Active"].active {
    background: linear-gradient(45deg, #f34f6d, #2681c8, #ffc30b, #0fbe94, #8dbbff, #f39800);
    color: #fefefe;
    box-shadow: 0 8px 12px -3px #fff;
    border: none;
    transition: all 0.3s ease-in-out;
}

/* 自定义选择框样式 */
#filter-container select {
    margin: 6px 6px;
    padding: 6px 12px;
    background: #ffffffe0;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'font-title';
    font-size: 16px;
    user-select: none;
}

#filter-container select:hover,
#filter-container select:focus {
    outline: none;
    padding: 8px 16px;
    border-color: #ff74b8;
    box-shadow: 0 8px 12px -3px #ff74b8;
    transition: all 0.3s ease-in-out;
}

#card-container {
    display: grid;
    width: 90%;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 16px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 250px;
    background: #ffffffe0;
    border-radius: 8px;
    border: none;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
}

.card img,
.card .img-placeholder {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: top;
}

.card img {
    user-select: none;
}

.card .img-placeholder {
    background: #eaeaea;
}

.card .name {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 14px;
    font-size: 16px;
    font-weight: bold;
}

#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#modal .dialog {
    background: #ffffffe0;
    border-radius: 8px;
    max-width: 600px;
    width: 90%;
    padding: 16px;
    position: relative;
    border: none;
    max-height: 90%;
    overflow-y: auto;
}

#modal .close {
    position: absolute;
    top: 8px;
    right: 12px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    user-select: none;
}

#detail-content {
    display: flex;
    gap: 16px;
}

#detail-content .text {
    flex: 1;
}

#detail-content img {
    width: 200px;
    height: auto;
    object-fit: cover;
    object-position: top;
    border-radius: 4px;
    user-select: none;
}

#detail-content .info {
    margin: 8px 0;
    padding-left: 5.4rem;
    text-indent: -5.4rem;
}

#detail-content .info strong {
    display: inline-block;
    width: 80px;
    text-indent: 0;
}

/* 打字特效 */

#typing {
    margin-bottom: 10px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    font-family: 'font-typing';
    text-shadow: #fff 0 0 3px, #fff 0 0 5px, #fff 0 0 7px, #fff 0 0 10px, #fff 0 0 12px, #fff 0 0 15px, #fff 0 0 20px;
    user-select: none;
}

#typing-intermark {
    letter-spacing: -0.5em;
}

#typing-rear {
    letter-spacing: -0.3em;
}

span#ex-mark {
    font-size: 36px;
    letter-spacing: -0.7em;
}

span#ex-mark1 {
    color: #f34f6d;
}

span#ex-mark2 {
    color: #2681c8;
}

span#ex-mark3 {
    color: #ffc30b;
}

span#ex-mark4 {
    color: #0fbe94;
}

span#ex-mark5 {
    color: #8dbbff;
}

span#ex-mark6 {
    color: #f39800;
}

@keyframes typing-blink {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #fff;
    }
}

span#typing-mark {
    position: relative;
    top: -5px;
    margin-left: 2px;
    font-size: 30px;
    border-right: 2px solid #fff;
}