#charts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(398px, 1fr));
    grid-auto-rows: 400px;
    gap: 20px;
    margin-bottom: 40px;
    justify-items: center;
}

.chart {
    width: 398px;
    height: 400px;
    background: #ffffffe0;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.legend {
    width: fit-content;
    text-align: center;
    margin: 0px auto 20px;
    padding: 6px 8px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: #ffffffe0;
    border-radius: 4px;
}

.legend-color {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    position: relative;
    top: -1px;
    vertical-align: middle;
}

.legend-item {
    margin: 10px;
}