.legend {
    width: fit-content;
    text-align: center;
    margin: 10px 0 30px;
    padding: 6px 8px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: #ffffffe0;
    border-radius: 4px;
    user-select: none;
}

.legend-color {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    position: relative;
    top: -1px;
    vertical-align: middle;
}

.legend-item {
    margin: 10px;
}

#chartWrapper {
    width: 800px;
    background: #ffffffe0;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 0 20px;
}

#modeToggle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    padding: 20px 0 10px;
}

#modeToggle button,
#barChartStaticBtns button,
#barChartBtns button,
#prodBtns button,
#distBtns button {
    width: 100px;
    padding: 10px;
    background: transparent;
    border: none;
    border-radius: 4px;
    font-family: 'font-title';
    font-size: 16px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    user-select: none;
}

#valueMode {
    display: block;
}

#ratioMode {
    display: block;
}

#pieChartContainer,
#barChartContainer {
    display: flex;
    width: 100%;
}

#barChartBtns,
#barChartStaticBtns,
#prodBtns,
#distBtns {
    display: flex;
    flex-direction: column;
    align-self: center;
}

#barChartBtns {
    gap: 24px;
}

#prodBtns {
    gap: 60px;
}

#distBtns {
    gap: 24px;
    margin-right: 20px;
}

#barChartStaticBtns {
    gap: 120px;
}

#barChartStaticBtns button,
#distBtns button {
    width: 40px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

#barChartStaticBtns button {
    height: 100px;
}

#distBtns button {
    height: 90px;
}

#pieChartContainer #prodBtns button {
    width: 40px;
    height: 90px;
    writing-mode: vertical-lr;
    text-orientation: mixed;
}

#modeToggle button:hover,
#modeToggle button.active {
    background: #e22b30;
    color: #fefefe;
    box-shadow: 0 0 12px #e22b30;
}

#barChartBtns button:hover,
#barChartBtns button.active,
#distBtns button:hover,
#distBtns button.active {
    background: #6699ff;
    color: #fefefe;
    box-shadow: 0 0 12px #6699ff;
}

#barChartStaticBtns button:hover,
#barChartStaticBtns button.active {
    background: #fec001;
    color: #fefefe;
    box-shadow: 0 0 12px #fec001;
}

#radarChart {
    width: 800px;
    height: 500px;
}

#barChart {
    width: 660px;
    height: 500px;
}

#distChart {
    width: 700px;
    height: 500px;
}